body{
    color: white;
    box-shadow: 20px;
    
}
.purple{
    background-color: rgb(4, 99, 231);
    color: white;
    float: left;
    width: 50%;
    margin-right: 80%;
    text-align: center;
    border-radius: 35px;
    height: 600px;
    width: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
h3{
    font-size: 25px;
    
}
h1{
    font-size: 75px;
    background-color: black;
    border-radius: 500px;
    height: 150px;
    padding-top: 90px;
    width: 55%;
    text-align: center;
    margin-left: 23%;
}

span{
    font-size: small;
    
}
span{
    word-break: break-all;
    white-space: initial;
    word-wrap: break-word;
    white-space-collapse: 10%;
}
h2{
    font-size: 20px;
}
.summary{
    float:right ;
    width: 300px;
}
.summary h3{
    color: black;
}
ul{
    list-style-type: none;
}
.pink li{
    color: rgb(255, 145, 163);
    background-color:rgb(245, 230, 232) ;
    border-radius: 10px;
}
.yellow{
    color: gold;
    background-color: rgb(249, 249, 194);
    border-radius: 10px;
}
.green{
    color: rgba(33, 202, 174, 0.786);
    background-color: rgb(174, 255, 221);
    border-radius: 10px;
}
.blue{
    color: rgb(41, 54, 79);
    background-color: rgb(155, 203, 245);
    border-radius: 10px;
}
#temi{
    float: right;
}
#bold{
    color: black;
    
}
#bright{
    color: grey;
    
}
button{
    background-color: rgb(35, 36, 53);
    border-radius: 15px;
    width: auto;
    color: white;
    
}